@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-montserrat
  }
}

.custom-button {
  display: flex;
  width: 10rem;
  height: 2.75rem;
  padding: 1.0625rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: #0b0b048b;
}

/* 
body {
  background: black;
  color: white;
} */